{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-3 well well-sm">
        <span class="sr-only">
            <a href="{{=URL('trade', 'items', 'view_items', args=request.args)}}">Skip To Main Content</a>
        </span>
        <h2><i class="fa fa-fw fa-search"></i> Filter</h2>
        <ul class="nav nav-pills nav-stacked">

            <li role="presentation" {{if not current_category:}}class="active"{{pass}}>
                <a href="{{=URL('trade', 'default', 'index', args=request.args, vars=dict() if search_vals == None else dict(q=search_vals), host=True)}}">
                    {{if not current_category:
								= "All Categories (selected)"
							else:
								= "All Categories"
							pass}}
                    <span class="badge pull-right">
                        {{=sum(category['count'] for category in categories)}}
                    </span>
                </a>
            </li>

            {{for category in categories:}}
                <li role="presentation" {{if current_category == category['name']:}}class="active"{{pass}}>
                    <a href="{{=URL('trade', 'default', 'index', args=request.args, vars=dict(cat=category['name']) if search_vals == None else dict(cat=category['name'], q=search_vals), host=True)}}">
                        {{if current_category == category['name']:
								= category['name']+" (selected)"
							else:
								= category['name']
							pass}}	
                        <span class="badge pull-right">
                            {{=category['count']}}
                        </span>
                    </a>
                </li>
            {{pass}}

        </ul>

    </div>
    <div class="col-md-9">
        {{if search_vals != None:}}
            <h1>
                Search results for "{{=' '.join(search_vals)}}"
            </h1>

            <div id="users_items">
                {{if not items:}}
                    No items found
                {{else:}}
                    {{include 'items/preview-list.html'}}
                {{pass}}
            </div>

        {{elif not items:}}
            <div class="alert alert-block alert-info">
                <h1>
                    <i class="fa fa-fw fa-info-circle"></i>
                    Wow, look how clean this place is!
                </h1>

                <p>
                    We haven't been able to find any items that users have publicly stored on the site!
                </p>

                <p>
                    If you think this is an error, please try reloading the page or, if that doesn't work, maybe try going and getting a cup of tea and coming back in a bit!
                </p>

            </div>

        {{else:}}
            <h1>
                {{=T("All Collectibles")}}
            </h1>

            <div id="users_items">

                {{include 'items/preview-list.html'}}

            </div>
        {{pass}}


    </div>
</div>
