{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-3 well well-sm">
        <h4><i class="fa fa-fw fa-search"></i> Filter</h4>
        <ul class="nav nav-pills nav-stacked">

            {{if categories != None:}}

                <li role="presentation" {{if not current_category:}}class="active"{{pass}}>
                    <a href="{{=URL('trade', 'default', 'index', args=request.args, vars=dict() if search_vals == None else dict(q=search_vals), host=True)}}">
                        All Categories
						<span class="badge pull-right">
							{{=sum(category['count'] for category in categories)}}
						</span>
                    </a>
                </li>

                {{for category in categories:}}
                    <li role="presentation" {{if current_category == category['name']:}}class="active"{{pass}}>
                        <a href="{{=URL('trade', 'default', 'index', args=request.args, vars=dict(cat=category['name']) if search_vals == None else dict(cat=category['name'], q=search_vals), host=True)}}">
                            {{=category['name']}}
							<span class="badge pull-right">
								{{=category['count']}}
							</span>
                        </a>
                    </li>
                {{pass}}
			{{pass}}

        </ul>

    </div>
    <div class="col-md-9">
        <h2>
            {{=T("Trade your collectibles for...")}}
        </h2>

        {{if search_vals != None:}}
            <h3>
                {{=T("You searched for \"" + ' '.join(search_vals) + "\"")}}
            </h3>
        {{pass}}

        {{if (items == None) or (len(items) == 0):}}
            <div class="alert alert-block alert-info">
                <h4>
                    <i class="fa fa-fw fa-info-circle"></i>
                    Wow, look how clean this place is!
                </h4>
                <p>
                    We haven't been able to find any items that users have publicly stored on the site!
                </p>

                <p>
                    If you think this is an error, please try reloading the page or, if that doesn't work, maybe try going and getting a cup of tea and coming back in a bit!
                </p>

            </div>

        {{else:}}
            <div id="users_items">

                {{include 'items/preview-list.html'}}

            </div>
        {{pass}}


    </div>
</div>
