{{extend 'layout.html'}}

<h2>
{{=user.username}}
</h2>

<h3>
Filter
</h3>
<table>
    <tr>
        <td>All</td>
        <td>0</td>
    </tr>
        <td>{{=user.username}}'s Public</td>
        <td>0</td>
    <tr>
        <td>{{=user.username}}'s Has</td>
        <td>0</td>
    </tr>
    <tr>
        <td>{{=user.username}}'s Wants</td>
        <td>0</td>
    </tr>
</td>

<div id="users_items">
    {{for item in items:}}
        {{=item.name}}
        {{=item.image}}
        {{=item.item_value}}
        {{=item.description}}
    {{pass}}
</div>