{{extend 'layout.html'}}

<h2>
{{=user.username}}
</h2>

{{if is_users_page:}}
    {{=A("Add new item", _href=URL(c='items', f='add_item'))}}
{{else:}}
    {{=A("Propose a trade", _href=URL(c='trade', f='new', args=user.username))}}
{{pass}}

<h3>
Filter
</h3>
<table>
    <tr>
        <td>All</td>
        <td>0</td>
    </tr>
        <td>{{=user.username}}'s Public</td>
        <td>0</td>
    <tr>
        <td>{{=user.username}}'s Has</td>
        <td>0</td>
    </tr>
    <tr>
        <td>{{=user.username}}'s Wants</td>
        <td>0</td>
    </tr>
</table>

{{if is_users_page and len(items) == 0:}}
    <h4>
    New here?
    </h4>

    <p>
        Start adding items you want to trade or share with the world to your collection, clicking on the "Add new Item" button.
    </p>

    <p>
        Otherwise, click on "Explore" to browse other users' collections.
    </p>
{{else:}}
    <div id="users_items">
        {{for item in items:}}
            {{=item.name}}
            {{=item.image}}
            {{=item.item_value}}
            {{=item.description}}
        {{pass}}
    </div>
{{pass}}
