{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-3 well well-sm">
        <h4><i class="fa fa-fw fa-search"></i> Filter</h4>
        <ul class="nav nav-pills nav-stacked">
            {{display_name = 'Your' if is_users_page else user.username+"'s'"}}

            <li role="presentation" {{if not current_filter:}}class="active"{{pass}}>
              <a href="{{=URL(args=request.args, host=True)}}">
                  All
                  <span class="badge pull-right">
                      {{=sum(list_sizes.values())}}
                  </span>
              </a>
            </li>

            <li role="presentation" {{if current_filter == LIST_PUBLIC_COLLECTION:}}class="active"{{pass}}>
              <a href="{{=URL(args=request.args, vars={'filter': LIST_PUBLIC_COLLECTION}, host=True)}}">
                  {{="%s Public" % display_name}}
                  <span class="badge pull-right">
                      {{=list_sizes[LIST_PUBLIC_COLLECTION]}}
                  </span>
              </a>
            </li>

            <li role="presentation" {{if current_filter == LIST_TRADING:}}class="active"{{pass}}>
              <a href="{{=URL(args=request.args, vars={'filter': LIST_TRADING}, host=True)}}">
                  {{="%s Has" % display_name}}
                  <span class="badge pull-right">
                      {{=list_sizes[LIST_TRADING]}}
                  </span>
              </a>
            </li>

            <li role="presentation" {{if current_filter == LIST_WISH_LIST:}}class="active"{{pass}}>
              <a href="{{=URL(args=request.args, vars={'filter': LIST_WISH_LIST}, host=True)}}">
                  {{="%s Wants" % display_name}}
                  <span class="badge pull-right">
                      {{=list_sizes[LIST_WISH_LIST]}}
                  </span>
              </a>
            </li>

            {{if is_users_page:}}
                <li role="presentation" {{if current_filter == LIST_PRIVATE_COLLECTION:}}class="active"{{pass}}>
                  <a href="{{=URL(args=request.args, vars={'filter': LIST_PRIVATE_COLLECTION}, host=True)}}">
                      <i class="fa fa-fw fa-lock"></i>
                      {{="%s Private" % display_name}}
                      <span class="badge pull-right">
                          {{=list_sizes[LIST_PRIVATE_COLLECTION]}}
                      </span>
                  </a>
                </li>
            {{pass}}

        </ul>

    </div>
    <div class="col-md-9">

        {{if is_users_page:}}
            <a href="{{=URL(c='items', f='add_item')}}"
                class="btn btn-primary pull-right">
                <i class="fa fa-fw fa-plus-circle"></i>
                Add a new item
            </a>

        {{else:}}
            <a href="{{=URL(c='trade', f='new', args=[user.id])}}"
                class="btn btn-primary pull-right">
                <i class="fa fa-fw fa-question-circle"></i>
                Propose a trade
            </a>

        {{pass}}

        <h2>
            <i class="fa fa-fw fa-user"></i>
            {{=user.first_name}} {{=user.last_name}}
            <span class="text-muted">({{=user.username}})</span>

        </h2>

        <hr />


        {{if is_users_page and len(items) == 0:}}
            <div class="alert alert-block alert-info">
                <h4>
                    <i class="fa fa-fw fa-info-circle"></i>
                    New here?
                </h4>
                <p>
                    Start adding items you want to trade or share with the world to your collection, clicking on the "Add new Item" button.
                </p>

                <p>
                    Otherwise, click on "Explore" to browse other users' collections.
                </p>

            </div>

        {{else:}}
            <div id="users_items">

                {{include 'items/preview-list.html'}}

            </div>
        {{pass}}


    </div>
</div>
