{{extend 'layout.html'}}
<h1>My Trade Proposals</h1>

<div class="alert alert-info">
    <i class="fa fa-fw fa-info-circle"></i>
    This page contains a list of all the trade proposals you recently sent or
    received. You can also check the status of any past or pending proposal.
</div>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Sending</th>
        <th>Receiving</th>
        <th>Status</th>
    </tr>
    </thead>
    {{for proposal in proposals:}}
        <tr
            {{if proposal.status == WAITING and proposal.receiver.id == auth.user_id:}}class="warning"{{pass}}>
            <td>
                <p>
                    <strong>{{=A(proposal.sender.username, _href=URL(c='user', f='view', args=proposal.sender.username))}}</strong> is offering:
                </p>

                <ul>
                    {{for item in proposal.sender_items:}}
                        <li>{{include 'trade/li-item.html'}}</li>
                    {{pass}}
                    {{if not proposal.sender_items:}}
                        <li><i>No items</i></li>
                    {{pass}}
                </ul>
            </td>
            <td>
                <p>
                    <strong>{{=A(proposal.receiver.username, _href=URL(c='user', f='view', args=proposal.receiver.username))}}</strong> will send back:
                </p>

                <ul>
                    {{for item in proposal.receiver_items:}}
                        <li>{{include 'trade/li-item.html'}}</li>
                    {{pass}}
                    {{if not proposal.receiver_items:}}
                        <li><i>No items</i></li>
                    {{pass}}
                </ul>
            </td>
            <td>

                <p>
                    <i class="fa fa-fw fa-clock-o"></i> Proposal created: {{=proposal.created}}.
                    {{if proposal.updated and proposal.updated != proposal.created:}}
                        Replied: {{=proposal.updated}}.
                    {{pass}}
                </p>

                {{if proposal.status == WAITING:}}
                    {{if auth.user_id == proposal.sender.id:}}

                        <i class="fa fa-fw fa-clock-o"></i>
                        You are waiting for {{=A(proposal.receiver.username, _href=URL(c='user', f='view', args=proposal.receiver.username))}} to consider your proposal.

                    {{else:}}

                        <i class="fa fa-fw fa-question-circle"></i>
                        Please

                        <a href="/trade/trade/respond/{{=proposal.id}}/accept/">Accept</a>,
                        <a href="/trade/trade/new/{{=proposal.sender.id}}/{{=proposal.id}}/">Counter-propose</a> or
                        <a href="/trade/trade/respond/{{=proposal.id}}/decline/">Decline</a>

                    {{pass}}

                {{elif proposal.status == ACCEPTED:}}

                <p class="text-success">
                    <i class="fa fa-fw fa-check"></i>
                    Success! This proposal was successful.
                    <a href="{{=URL('trade', 'trade', 'success', args=[proposal.id])}}">
                        View details.
                    </a>
                </p>

                {{elif proposal.status == DECLINED:}}

                    <p class="text-danger">
                        <i class="fa fa-fw fa-times"></i>
                        This proposal was declined.
                    </p>

                {{pass}}

            </td>

        </tr>

    {{pass}}

    {{if not proposals:}}
        <tr class="warning">
            <td colspan="3">
                <i class="fa fa-fw fa-info-circle"></i>
                You have not sent or received any proposal yet.
            </td>
        </tr>

    {{pass}}
</table>
