{{extend 'layout.html'}}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fa fa-fw fa-question-circle"></i>
                    Make a new proposal
                </h2>
            </div>
            <div class="panel-body">

                {{=proposal_form}}


            </div>
            <div class="panel-footer">
                You can also decide to <a href="{{=URL('trade', 'trade', 'index')}}">cancel this proposal</a>.
            </a>
            </div>
        </div>
    </div>
</div>

