<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=T("Collectibles - ") + response.title}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/custom.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}">

  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {{if response.right_menu:}}
            {{=MENU(response.right_menu, _class='nav navbar-nav navbar-right', li_class='dropdown', ul_class='dropdown-menu')}}
          {{pass}}
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}

            <form action="{{=URL(c='default', f='index')}}" method="GET"
                  class="navbar-form" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="q" value="{{=request.vars.q or ""}}" placeholder="Search for items..."
                               id="search-bar" autofocus class="form-control" />
                        <span class="sr-only"><label for="search-bar">Search for items...</label></span>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="sr-only">Search</span>
                                <i class="fa fa-fw fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container main-container">

        {{block center}}
        {{include}}
        {{end}}

    </div>

    {{block footer}} <!-- this is default footer -->
    <footer class="footer">
      <div class="container" style="padding-top: 15px;">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
          </div>
      </div>
    </footer>
    {{end}}
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>

    <!-- https://github.com/kaiwa/bootstrap-maxlength -->
    <script src="{{=URL('static','js/bootstrap-maxlength.js')}}"></script>
    <script>
    $(document).ready(function() {
        $("input[maxlength]").maxlength();
        $("textarea[maxlength]").maxlength();
    });
    </script>
    {{block page_js}}{{end page_js}}
  </body>
</html>
