<p>This will be replaced by the description for the categories, and it will open inside a modal window.</p>

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>Category name</th>
            <th>Examples</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Something</td>
            <td>Some examples</td>
        </tr>
        <tr>
            <td>Something else</td>
            <td>Some examples</td>
        </tr>
        <tr>
            <td>Something more</td>
            <td>Some examples</td>
        </tr>
    </tbody>
</table>