{{extend 'layout.html'}}

{{for item in items:}}

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<div class="row">

    <div class="col-md-5">

        <p>
            <img src="{{=URL('default', 'download', args=item.image)}}" class="img-responsive img-polaroid" />
        </p>

        {{if (item.owner_ref != auth.user_id):}}

            {{if is_in_active_trade:}}
            <p class="text-info">
                <i class="fa fa-fw fa-info-circle"></i> This item is part of a proposal waiting for your consideration.
            </p>
            <p>
                <a href="{{=URL(c='trade', f='index')}}" class="btn btn-block btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                    Review Proposal
                </a>
            </p>

            {{elif is_in_tradable_list:}}
            <p>
                <a href="{{=URL(c='trade', f='new', args=item.owner_ref, vars={"preselect": item.id})}}" class="btn btn-block btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                    Propose a Trade
                </a>
            </p>
            {{pass}}

        {{pass}}

        <dl class="dl-horizontal">

            <dt>Estimated Value</dt>
            <dd>£{{=item.item_value}}</dd>

            <dt>Owner</dt>
            <dd>{{=A(item.owner_ref.username, _href=URL(c='user', f='view', args=item.owner_ref.username))}}</dd>

            <dt>List</dt>
            <dd>
              {{=A(item.list_type.name, _href=URL(c='user', f='view', args=item.owner_ref.username, vars={'filter': item.list_type}))}}

              <a data-toggle="popover" data-content="A user's Public Collection contains items that they don't want to trade, but are happy for everyone to see. Items that they want to trade with are stored in their Trading List and items they would like to receive are stored in their Wish List"><i class="fa fa-info-circle"></i></a>
            </dd>

            <dt>Category</dt>
            <dd>{{=item.category.name}}</dd>


        </dl>

    </div>

    <div class="col-md-7">

        <div class="btn-group pull-right">
        {{if (item.owner_ref == auth.user_id):}}
            {{=A(I(_class="fa fa-fw fa-edit"), "Edit", _class="btn btn-default", _href=URL('items', 'update_item', args=[item.id]))}}
            {{=A(I(_class="fa fa-fw fa-trash"), "Delete", _class="btn btn-danger", _href=URL('items', 'delete_item', args=[item.id]))}}
        {{pass}}

        </div>

        {{=H3(A(item.name, callback=URL('items', 'view_items', args=[item.id])))}}

        <hr />

        <p>{{=item.description}}</p>

        <hr />

    </div>

</div>

{{pass}}
