.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    text-decoration:underline;
}
.nav-pills>li>a {
    color:#1b4264;
}
.nav-pills>li>a:hover {
    text-decoration:underline;
}
.btn-primary {
    margin-right:1cm;
}